@model SIT.Models.ApplicationUser

@{
	ViewBag.Title = "Details";
}

<style>
	.dl-horizontal dt {
		width: 25%;
		margin-right: 10px;
	}
</style>

<h2>Подробно</h2>

<div>
	<h4>Сотрудник</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.FullName)</dt>
		<dd>@Html.DisplayFor(model => model.FullName)</dd>

		<dt>@Html.DisplayNameFor(model => model.TabNo)</dt>
		<dd>@Html.DisplayFor(model => model.TabNo)</dd>

		<dt>@Html.DisplayNameFor(model => model.Email)</dt>
		<dd>@Html.DisplayFor(model => model.Email)</dd>

		<dt>Сот.</dt>
		<dd>@Html.DisplayFor(model => model.PhoneNumber)</dd>

		<dt>@Html.LabelFor(model => model.SectionId)</dt>
		<dd>@Html.DisplayFor(model => model.Section.Name)</dd>

		<dt>@Html.LabelFor(model => model.ParticipateInLabour)</dt>
		<dd>@Html.DisplayFor(model => model.ParticipateInLabour)</dd>
	</dl>
</div>
<hr />
<p>
	@Html.ActionLink("Назад", "Index") |
	@Html.ActionLink("Изменить", "Edit", new { id = Model.Id })
</p>
