@model ApplicationUser
@using SIT.Models
@{
	ViewBag.Title = "Edit";
	var viewDict = new ViewDataDictionary();
	viewDict.Add("Sections", ViewBag.Sections);
}

<h2>Изменить</h2>
<h4>cотрудник:&nbsp;&nbsp;&nbsp;@Model.FullName</h4>

<hr />
@using (Html.BeginForm())
{
	<div class="form-horizontal row" id="form">
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })

		@Html.HiddenFor(model => model.Id)
		@Html.HiddenFor(model => model.Email)
		@Html.HiddenFor(model => model.EmailConfirmed)
		@Html.HiddenFor(model => model.PasswordHash)
		@Html.HiddenFor(model => model.SecurityStamp)
		@Html.HiddenFor(model => model.PhoneNumberConfirmed)
		@Html.HiddenFor(model => model.TwoFactorEnabled)
		@Html.HiddenFor(model => model.LockoutEndDateUtc)
		@Html.HiddenFor(model => model.LockoutEnabled)
		@Html.HiddenFor(model => model.AccessFailedCount)
		@Html.HiddenFor(model => model.UserName)
		@Html.AntiForgeryToken()

		@Html.Partial("EditPrincipalInfo", Model, viewDict)
		@Html.Partial("EditExtraInfo", Model)

	</div>
	<hr />
	<div class="form-group">
		<div class="col-md-offset-3 col-md-9">
			<input type="submit" value="Сохранить" class="btn btn-success" />
		</div>
	</div>
}

<div>
	@Html.ActionLink("Назад", "Index")
</div>




@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")

	<script>
		// отображение поля выбора бюро при запуске
		$(window).on('load', function () {
			var admin = '@Model.IsAdmin'=='True';

			if (admin) {
				$('#section').hide();
			}
		});

		// скрытие\отображение выбора бюро
		$("#role").change(function () {
			var sel = this.value;

			if (sel == "manager" || sel == "admin")
				$('#section').hide();
			else
				$('#section').show();
		});
	</script>
}
