@model ApplicationUser
@using SIT.Models
@{
	ViewBag.Title = "Edit";
	var sectList = new SelectList(ViewBag.Sections as List<Section>, "Id", "Name");

	var role = "none";
	if (Model.IsAdmin)
	{ role = "admin"; }
	else if (Model.IsManager)
	{ role = "manager"; }
	else if (Model.IsChief)
	{ role = "chief"; }
}

<h2>Изменить</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal" id="form">
		<h4>Сотрудник</h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.Id)
		@Html.HiddenFor(model => model.Email)
		@Html.HiddenFor(model => model.EmailConfirmed)
		@Html.HiddenFor(model => model.PasswordHash)
		@Html.HiddenFor(model => model.SecurityStamp)
		@Html.HiddenFor(model => model.PhoneNumberConfirmed)
		@Html.HiddenFor(model => model.TwoFactorEnabled)
		@Html.HiddenFor(model => model.LockoutEndDateUtc)
		@Html.HiddenFor(model => model.LockoutEnabled)
		@Html.HiddenFor(model => model.AccessFailedCount)
		@Html.HiddenFor(model => model.UserName)

		<div class="form-group">
			@Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-3" })
			<div class="col-md-9">
				@Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
			<div class="col-md-9">
				@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Patronic, htmlAttributes: new { @class = "control-label col-md-3" })
			<div class="col-md-9">
				@Html.EditorFor(model => model.Patronic, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Patronic, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.TabNo, htmlAttributes: new { @class = "control-label col-md-3" })
			<div class="col-md-9">
				@Html.EditorFor(model => model.TabNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "ЧМ-", @maxlength = 11 } })
				@Html.ValidationMessageFor(model => model.TabNo, "", new { @class = "text-danger" })
			</div>
		</div>

		<div id="here">
			<div class="form-group" id="section">
				@Html.LabelFor(model => model.Section.Name, htmlAttributes: new { @class = "control-label col-md-3" })
				<div class="col-md-9">
					@Html.DropDownList("SectionId", sectList, htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.SectionId, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>

		@if (User.IsInRole("admin"))
		{
			<div class="form-group">
				@Html.LabelFor(model => model.Roles, htmlAttributes: new { @class = "control-label col-md-3" })
				<div class="col-md-9">
					@Html.DropDownList("role", new SelectList(new List<string> { "none", "chief", "manager", "admin" }, role), htmlAttributes: new { @class = "form-control" })
				</div>
			</div>
		}

		<div class="form-group">
			<label class="control-label col-md-3">Сот.</label>
			<div class="col-md-9">
				@Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "89539991133", @maxlength = 11 } })
				@Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.ParticipateInLabour, htmlAttributes: new { @class = "control-label col-md-3" })
			<div class="col-md-3" style="margin-top:7px;">
				@Html.CheckBoxFor(model => model.ParticipateInLabour, new { @style = "" })
				@Html.ValidationMessageFor(model => model.ParticipateInLabour, "", new { @class = "text-danger" })
			</div>
		</div>

		<hr />
		<div class="form-group">
			<div class="col-md-offset-3 col-md-9">
				<input type="submit" value="Сохранить" class="btn btn-success" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Назад", "Index")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")

	<script>
		// отображение поля выбора бюро при запуске
		$(window).on('load', function () {
			var admin = '@Model.IsAdmin'=='True';
			var manager = '@Model.IsManager' == 'True';

			if (admin||manager) {
				$('#section').hide();
			}
		});

		// скрытие\отображение выбора бюро
		$("#role").change(function () {
			var sel = this.value;

			if (sel == "manager" || sel == "admin")
				$('#section').hide();
			else
				$('#section').show();
		});
	</script>
}
