<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	@Styles.Render("~/Content/css")
	@*@Scripts.Render("~/bundles/modernizr")*@

</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("УВСИТЦУ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @id = "menu_Main" })
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav" id="menuTabs">
					@if (User.IsInRole("admin"))
					{
						<li id="menu_Units"><a href="~/Units/Index" style="color:yellowgreen;" onmouseover="this.style.color = 'chartreuse';" onmouseout="this.style.color = 'yellowgreen';">Отделы</a></li>
					}
					@if (User.IsInRole("manager") || User.IsInRole("admin"))
					{
						<li id="menu_Sections"><a href="~/Sections/Index" style="color:darkgoldenrod;" onmouseover="this.style.color = '#f5b820';" onmouseout="this.style.color = 'darkgoldenrod';">Бюро</a></li>
					}
					@if (User.IsInRole("manager") || User.IsInRole("chief") || User.IsInRole("admin"))
					{
						<li id="menu_Staff"><a href="~/Staff/Index" style="color:darkgoldenrod;" onmouseover="this.style.color = '#f5b820';" onmouseout="this.style.color = 'darkgoldenrod';">Персонал</a></li>
						<li id="menu_Labours"><a href="~/Labours/Index" style="color:darkgoldenrod;" onmouseover="this.style.color = '#f5b820';" onmouseout="this.style.color = 'darkgoldenrod';">Субботники</a></li>
					}
					<li id="menu_Vacations">@Html.ActionLink("Отпуска", "Index", "Vacations")</li>
					<li id="menu_Overtimes">@Html.ActionLink("Переработки", "Index", "Overtimes")</li>
					<li id="menu_Help">@Html.ActionLink("Помощь", "Help", "Home")</li>
				</ul>
				@Html.Partial("_LoginPartial")
			</div>
		</div>
	</div>
	<canvas id="particle-canvas"></canvas>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Служба информационных технологий</p>
		</footer>
	</div>
	@*@Scripts.Render("~/bundles/jquery")*@
	@Scripts.Render("~/bundles/jquerymin")
	@Scripts.Render("~/bundles/moment")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/myScripts")
	@RenderSection("scripts", required: false)
</body>
</html>
