@model OvertimeListViewModel
@using SIT.Models
@{
	ViewBag.Title = "Review";
}

<style>
	table tbody {
		display: block;
		max-height: 580px;
		overflow-y: scroll;
	}

		table thead, table tbody tr {
			display: table;
			width: 100%;
			table-layout: fixed;
		}

	::-webkit-scrollbar {
		width: 0px; /*Remove scrollbar space */
		background: transparent; /* Optional: just make scrollbar invisible */
	}
</style>

<h2>Переработки</h2>

<p>
	@if (User.IsInRole("admin") || User.IsInRole("manager") || User.IsInRole("chief"))
	{
		@Html.ActionLink("Добавить переработку", "Create", new { returnAction = "Review" }, new { @class = "pull-right" })<br />
	}
</p>

<form method="get">
	<input type="hidden" name="returnAction" value="Review" />
	<table class="table" style="margin-bottom:0;background-color:#eeeeee;border-radius:5px;">
		<tr>
			<td width="15%">
				<label class="control-label text-muted">Отдел&nbsp;</label>
				@Html.DropDownList("unit", Model.Units, htmlAttributes: new { @class = "form-control" })
			</td>
			<td width="25%">
				<label class="control-label text-muted">Бюро&nbsp;</label>
				@Html.DropDownList("section", Model.Sections as SelectList, htmlAttributes: new { @class = "form-control" })
			</td>
			<td width="27%">
				<label class="control-label text-muted">&nbsp;Сотрудник&nbsp;</label>
				@Html.DropDownList("UsrId", Model.Users as SelectList, htmlAttributes: new { @class = "form-control" })
			</td>
			<td width="10%">
				<label class="control-label text-muted">&nbsp;Год&nbsp;</label>
				@Html.DropDownList("Year", Model.Years as SelectList, htmlAttributes: new { @class = "form-control" })
			</td>
			<td width="10%">
				<label class="control-label text-muted">&nbsp;Задержка&nbsp;</label>
				@Html.DropDownList("Duration", Model.Durations as SelectList, htmlAttributes: new { @class = "form-control" })
			</td>
			<td>
				<label class="control-label disabled">&nbsp;</label><br />
				<input type="submit" value="Применить" class="btn btn-primary" style="margin-left:10px" />
			</td>
		</tr>
	</table>

	<table class="table" border="0">
		<thead>
			<tr>
				<th width="25%">Бюро</th>
				<th width="25%">Сотрудник</th>
				<th width="10%">Год</th>
				<th width="10%">Задержка</th>
				<th width="12%">Использована</th>
				<th>
					<input type="checkbox" name="available" @(Model.Available?"checked":"") />&nbsp;&nbsp;&nbsp;&nbsp;Использованные
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Overtimes)
			{
				var util = item.Utilized == null ? "" : ((DateTime)item.Utilized).ToString("dd.MM.yyyy");
				<tr>
					<td width="25%">
						@Html.DisplayFor(modelItem => item.Usr.Section.Name)
					</td>
					<td width="25%">
						@Html.DisplayFor(modelItem => item.Usr.FullName)
					</td>
					<td width="10%">
						@Html.DisplayFor(modelItem => item.Date.Year)
					</td>
					<td width="10%">
						@Html.DisplayFor(modelItem => item.Duration) мин.
					</td>
					<td width="15%">
						@Html.DisplayFor(modelItem => util)
					</td>
					<td>
						@Html.ActionLink("Учесть", "Edit", new { id = item.Id }) |
						@Html.ActionLink("Удалить", "Delete", new { id = item.Id })
					</td>
				</tr>
			}
		</tbody>
	</table>
</form>
