@model SIT.Models.Vacation

@{
	ViewBag.Title = "Delete";
}

<h2>Вы действительно хотите удалить?</h2>

<div>
	<h4>Отпуск</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.UsrId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Usr.FullName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Year)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Year)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Month)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Month)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Duration)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Duration)
		</dd>

		<hr />
		<dt></dt>
		<dd>
			@using (Html.BeginForm())
			{
				@Html.AntiForgeryToken()

				<div class="form-actions no-color">
					<input type="submit" value="Удалить" class="btn btn-danger" />
				</div>
			}
		</dd>
	</dl>
	@Html.ActionLink("Назад", "Review")
</div>
