@model IEnumerable<Vacation>
@using SIT.Models
@{
	ViewBag.Title = "Index";
	var monthList = new Dictionary<string, Dictionary<int, int>>(Model.Count());
	var mdl = Model as List<Vacation>;

	// консолидация отпусков в сущности по каждому сотруднику
	for (var i = 0; i < mdl.Count; ++i)
	{
		if (!monthList.ContainsKey(mdl[i].Usr.FullName))
		{
			monthList.Add(mdl[i].Usr.FullName, new Dictionary<int, int>(12));
		}

		monthList[mdl[i].Usr.FullName].Add(mdl[i].Month, mdl[i].Duration);
	}
}

<h2>Отпуска @(DateTime.Now.Year)</h2>
<text class="text-danger">@ViewBag.msg</text>
@if (User.IsInRole("admin") || @User.IsInRole("manager") || @User.IsInRole("chief"))
{
	@Html.ActionLink("Редактировать", "Review", null, new { @style = "color:darkgoldenrod;float:right;" });
}

<style>
	table tbody {
		display: block;
		max-height: 600px;
		overflow-y: scroll;
	}

		table thead, table tbody tr {
			display: table;
			width: 100%;
			table-layout: fixed;
		}

	::-webkit-scrollbar {
		width: 0px; /*Remove scrollbar space */
		background: transparent; /* Optional: just make scrollbar invisible */
	}
</style>

<table class="table" style="margin-bottom:0;">
	<thead>
		<tr>
			<th width="5%" title="Рейтинговая позиция">R</th>
			<th width="35%" style="text-align:right">Месяц:&nbsp;</th>
			@for (var i = 1; i < 13; ++i)
			{
				<th width="5%" style="text-align:center; border-left:0px solid lightgray;">@i</th>
			}
		</tr>
	</thead>
	<tbody>
		@foreach (var item in monthList)
		{
			var surname = item.Key.Split(' ')[0];
			<tr>
				<td width="5%" style="font-weight:bold">@Model.FirstOrDefault(m => m.Usr.Surname == surname).Usr.VacationRating</td>
				<td width="35%">@Html.DisplayFor(it => item.Key)</td>

				@for (int j = 1; j <= 12; ++j)
				{
					<td style="border-left:1px solid lightgray; text-align:center;" width="5%">
						@if (item.Value.ContainsKey(j))
						{
							@item.Value[j]
						}
					</td>
				}
			</tr>
		}
	</tbody>
</table>

<table class="table">
	<tbody>
		<tr>
			<td width="5%"></td>
			<td width="35%"></td>

			@for (int j = 1; j <= 12; ++j)
			{
				var spent = Model.Where(m => m.Month == j).Sum(m => m.Duration);
				var duration = monthList.Count * 28 / 12 - spent;
				<td style="background:@(duration>=0?"#ebf5d6":"#fad1d1"); border-left:1px solid lightgray; text-align:center;" width="5%">@duration</td>
			}
		</tr>
	</tbody>
</table>