@model VacationVotingViewModel
@using SIT.Models
@{
	ViewBag.Title = "Index";
}

<style>
	table tbody {
		display: block;
		max-height: 600px;
		overflow-y: scroll;
	}

		table thead, table tbody tr {
			display: table;
			width: 100%;
			table-layout: fixed;
		}

	::-webkit-scrollbar {
		width: 0px; /*Remove scrollbar space */
		background: transparent; /* Optional: just make scrollbar invisible */
	}

	a.disabled {
		color: gray;
		/*pointer-events: none;*/
	}

	a.manager {
		color: darkgoldenrod;
	}
</style>

<div style="display:inline-block;margin:20px 0 10px;width:100%;">
	<text style="font-size:xx-large;">Отпуска @Model.Year</text>
	@if (User.IsInRole("admin"))
	{
		using (Html.BeginForm("Index", "Vacations", FormMethod.Get, new { @style = "float:right;margin-top:10px;" }))
		{
			<div class="form-inline">
				<label class="control-label" style="color:#8ab92d;">Отдел&nbsp;</label>
				@Html.DropDownList("unit", new SelectList(Model.GetUnitList(), "Id", "Name"), new { @class = "form-control", @onchange = "form.submit();", @style = "box-shadow:0 0 10px yellowgreen" })
			</div>
		}
	}
</div>

<table class="table" style="margin-bottom:0;" border="0">
	<tbody>
		<tr>
			<td>
				@if (Model.VotingStarted)
				{
					<div class="text-danger" style="display:inline-block">Голосование запущено. Голосует сотрудник:</div><div style="margin:0 20px;display:inline-block"><b>@Model.VoterFullName</b></div>
					if (Model.UsrIsVoter)
					{
						@Html.ActionLink("Добавить заявку", "Create", new { returnAction = ViewBag.ReturnAction }, new { @style = "display:inline-block;" });
					}
				}
			</td>
			<td width="200px">
				@if (User.IsInRole("admin") || @User.IsInRole("manager"))
				{
					@:Голосование:
					@Html.ActionLink(Model.VotingStarted ? "Остановить" : "Запустить", Model.VotingStarted ? "CancelVoting" : "InitiateVoting",
									   new { unit = Model.UnitId, year = Model.Year },
									   new { @class = Model.VotingStarted ? "disabled" : "manager", @id = "vote_status", @onclick = "return alterLink();" });
				}
			</td>
			<td width="150px">
				@if (User.IsInRole("admin") || @User.IsInRole("manager") || @User.IsInRole("chief"))
				{
					@Html.ActionLink("Редактировать", "Review", null, new { @style = "color:darkgoldenrod;float:right;" });
				}
			</td>
		</tr>
	</tbody>
</table>

<table class="table" style="margin-bottom:0;">
	<thead>
		<tr>
			<th width="5%" title="Рейтинговая позиция">R</th>
			<th width="35%" style="text-align:right">Месяц:&nbsp;</th>
			@for (var i = 1; i <= 12; ++i)
			{
				<th width="5%" style="text-align:center; border-left:0px solid lightgray;">@i</th>
			}
		</tr>
	</thead>
	<tbody>
		@for (var i = 0; i < Model.UserMonthList.Count; ++i)
		{
			var currentId = Model.UserMonthList.ElementAt(i).Key;
			var currentRecord = Model.UserMonthList.ElementAt(i);
			var currentFullName = Model.GetFullName(currentId);
			<tr>
				<td width="5%" style="font-weight:bold">@(Model.UserRating[currentId] + 1)</td>
				<td width="35%" style="background-color:@(currentFullName==Model.VoterFullName?"":"#f2f2f2")">@currentFullName</td>

				@for (int month = 1; month < 13; ++month)
				{
					<td style="border-left:1px solid lightgray; text-align:center;" width="5%">
						@if (currentRecord.Value.ContainsKey(month))
						{
							@currentRecord.Value[month]
						}
					</td>
				}
			</tr>
		}
	</tbody>
</table>

@* НИЖНЯЯ ПОДТАБЛИЦА ОСТАТКА ДНЕЙ ПО МЕСЯЦУ *@
@if (Model.VotingStarted)
{
	<table class="table" border="0">
		<tbody>
			<tr>
				<td width="5%"></td>
				<td width="35%" align="right"><b>Осталось дней:</b></td>

				@for (int month = 0; month < 12; ++month)
				{
					var duration = Model.UnitUserCount * 28 / 12 - Model.DaysOccupied[month];
					<td style="background:@(duration>=0?"#ebf5d6":"#fad1d1"); border-left:1px solid lightgray; text-align:center;" width="5%">@duration</td>
				}
			</tr>
		</tbody>
	</table>
}

@section Scripts {
	<script>
		function alterLink() {
			@if (Model.VotingStarted)
			{
				@:if (confirm("Вы уверены? Все сделанные заявки будут отменены")) { $('#vote_status').removeClass('disabled').addClass('manager'); return true; }
				@:else return false;
			}
			else
			{
				@:$('#vote_status').removeClass('manager').addClass('disabled');
			}
		}
	</script>
}