@model VacationListViewModel
@using SIT.Models
@{
	ViewBag.Title = "Review";
}

<style>
	table tbody {
		display: block;
		max-height: 56vh;
		overflow-y: scroll;
	}

		table thead, table tbody tr {
			display: table;
			width: 100%;
			table-layout: fixed;
		}

	::-webkit-scrollbar {
		width: 0px; /*Remove scrollbar space */
		background: transparent; /* Optional: just make scrollbar invisible */
	}

	#menu_Vacations a {
		color: darkgoldenrod;
	}

		#menu_Vacations a:hover {
			color: #f5b820;
		}
</style>

<h2>Редактирование отпусков</h2>

<p>
	@Html.ActionLink("Назад", "Index")
	@Html.ActionLink("Добавить отпуск", "Create", new { returnAction = "Review" }, new { @class = "pull-right" })
</p>

<form method="get">
	<input type="hidden" name="returnAction" value="Review" />
	<table class="table table-condensed table-hover" style="margin-bottom:0;background-color:#eeeeee;border-radius:5px;font-size:smaller;">
		<tr>
			<td width="15%">
				<label class="control-label text-muted">Отдел&nbsp;</label>
				@Html.DropDownList("unit", Model.Units, htmlAttributes: new { @class = "form-control" })
			</td>
			<td width="25%">
				<label class="control-label text-muted">Бюро&nbsp;</label>
				@Html.DropDownList("section", Model.Sections as SelectList, htmlAttributes: new { @class = "form-control" })
			</td>
			<td width="27%">
				<label class="control-label text-muted">&nbsp;Сотрудник&nbsp;</label>
				@Html.DropDownList("UsrId", Model.Users as SelectList, htmlAttributes: new { @class = "form-control" })
			</td>
			<td width="10%">
				<label class="control-label text-muted">&nbsp;Год&nbsp;</label>
				@Html.DropDownList("Year", Model.Years as SelectList, htmlAttributes: new { @class = "form-control" })
			</td>
			<td width="10%">
				<label class="control-label text-muted">&nbsp;Месяц&nbsp;</label>
				@Html.DropDownList("Month", Model.Months as SelectList, htmlAttributes: new { @class = "form-control" })
			</td>
			<td>
				<label class="control-label disabled">&nbsp;</label><br />
				<input type="submit" value="Применить" class="btn btn-primary" style="margin-left:10px" />
			</td>
		</tr>
	</table>
</form>

<table class="table table-condensed table-hover" border="0">
	<thead>
		<tr>
			<th width="25%">Бюро</th>
			<th width="30%">Сотрудник</th>
			<th width="7%">Год</th>
			<th width="7%">Месяц</th>
			<th width="15%">Продолжительность</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Vacations)
		{
			<tr>
				<td width="25%">
					@Html.DisplayFor(modelItem => item.Usr.Section.Name)
				</td>
				<td width="30%">
					@Html.DisplayFor(modelItem => item.Usr.FullName)
				</td>
				<td width="7%">
					@Html.DisplayFor(modelItem => item.Year)
				</td>
				<td width="7%">
					@Html.DisplayFor(modelItem => item.Month)
				</td>
				<td width="15%">
					@Html.DisplayFor(modelItem => item.Duration)
				</td>
				<td>
					@Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
					@Html.ActionLink("Удалить", "Delete", new { id = item.Id })
				</td>
			</tr>
		}
	</tbody>
</table>
