@model SIT.Models.LabourDeleteModel

@{
	ViewBag.Title = "Delete";
}

<h2>Вы действительно хотите удалить?</h2>

<div>
	<h4>Участие в субботнике</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.Labour.Date)</dt>
		<dd>@Model.Labour.Date.ToShortDateString()</dd>

		<dt>Сотрудник</dt>
		<dd>@Html.DisplayFor(model => model.User.FullName)</dd>

		<hr />
		<dt></dt>
		<dd>
			@using (Html.BeginForm())
			{
				@Html.AntiForgeryToken()
				<input type="hidden" name="labourId" value="@Model.Labour.Id" />
				<input type="hidden" name="userId" value="@Model.User.Id" />
				<input type="submit" value="Удалить" class="btn btn-danger" onclick="return handle()" />
			}
		</dd>
	</dl>
	@Html.ActionLink("Назад", "Index")
</div>
