@model IEnumerable<Unit>
@using SIT.Models
@{
	ViewBag.Title = "Index";
}

<div class="row">
	<div class="col-md-10">
		<h2>Список отделов</h2>

		<p>
			@Html.ActionLink("Добавить отдел", "Create", null, new { @class = "pull-right" })
		</p>
		<table class="table">
			<tr>
				<th>
					@Html.LabelFor(model => model.First().Name)
				</th>
				<th>
					@Html.LabelFor(model => model.First().ChiefId)
				</th>
				<th>
					Бюро
				</th>
				<th></th>
			</tr>

			@foreach (Unit item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Chief.FullName)
					</td>
					<td>
						@item.Sections.Count
					</td>
					<td>
						@Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
						@Html.ActionLink("Подробнее", "Details", new { id = item.Id }) |
						@Html.ActionLink("Удалить", "Delete", new { id = item.Id })
					</td>
				</tr>
			}

		</table>
	</div>
</div>