@model SIT.Models.Section

@{
	ViewBag.Title = "Delete";
	var chiefName = Model.GetUserFullName(Model.ChiefId);
}

<h2>Вы уверены, что хотите удалить?</h2>

<h4>Бюро</h4>
<div>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.LabelFor(m => m.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.LabelFor(model => model.ChiefId)
		</dt>

		<dd>
			@Html.DisplayFor(model => chiefName)
		</dd>
		<dt></dt>
		<dd>
			<br />
			@using (Html.BeginForm())
			{
				@Html.AntiForgeryToken()
				<input type="submit" value="Удалить" class="btn btn-danger" onclick="return handle()" />
			}
		</dd>
	</dl>
	@Html.ActionLink("Назад", "Index")
</div>

@section Scripts {
	<script>
		function handle() {
			if (@(Model.Staff.Count())> 0) {
				$.ajax({
					url: '@(Url.Action("ClearSection","Staff"))?section=@Model.Id',
					type: 'get',
					async: false,
				});
			}

			return true;
		}
	</script>
}