@model Section
@using SIT.Models
@{
	ViewBag.Title = "Edit";

	var db = new ApplicationDbContext();
	var usrList = new SelectList(db.Users.OrderBy(u => u.Surname), "Id", "FullName");
	foreach (var item in usrList)
	{
		if (item.Value == Model.ChiefId)
		{
			item.Selected = true;
			break;
		}
	}

	Model.Workers = db.Users.Where(u => u.SectionId == Model.Id).OrderBy(u => u.Surname).ToList();
}

<h2>Редактировать</h2>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Бюро</h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.Id)

		<div class="form-group">
			@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.ChiefId, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.ChiefId, usrList, "-- выбрать руководителя --", htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.ChiefId, "", new { @class = "text-danger" })
			</div>
		</div>

		<hr />
		<div class="form-group">
			@Html.LabelFor(model => model.Workers, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-5" id="staff">
				@foreach (var item in Model.Workers)
				{
					<div id="@(item.Id)_1">@(Html.DisplayFor(u => item.FullName))&nbsp;&nbsp;&nbsp;<a href='#' id="@(item.Id)" onclick="deleteItem(event)" class='text-danger'>Удалить</a></div>
				}
			</div>
		</div>

		<dl class="form-group">
			<dt class="col-md-2">&nbsp;</dt>
			<dd class="col-md-10 control-label">
				@Html.DropDownListFor(model => model.Workers, usrList, htmlAttributes: new { @class = "form-control col-md-2", @id = "pick" })
				@Html.ValidationMessageFor(model => model.ChiefId, "", new { @class = "text-danger" })
				<a href="#" class="addLink col-md-3 text-left text-success">Добавить</a>
			</dd>
		</dl>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Сохранить" class="btn btn-success" />
			</div>
		</div>
	</div>
}
<div class="row">
	@Html.ActionLink("Назад", "Index")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	<script>
		// функция добавления сотрудника в бюро
		$(function () {
			var i = 0;
			$('.addLink').click(function () {
				var nick = $('#pick option').filter(':selected').text();
				var id = $('#pick option').filter(':selected').val();

				if ($('#'+ id).length)
					alert("Сотрудник уже в этом отделе");
				else {
					var html = "<div id='" + id + "_1'>" + nick + "&nbsp;&nbsp;&nbsp;<a href='#' id=" + id + " onclick='deleteItem(event)' class='text-danger'>Удалить</a><br />";
					$('#staff').append(html);

					$.ajax({
						url: '@(Url.Action("Append","Staff"))?id='+id+'&section='+@Model.Id,
						type: 'get',
					});
				}
			});
		});


		// функция удаления сотрудника из бюро
		function deleteItem(event) {
			event.preventDefault();
			var id = event.target.id;

			$.ajax({
				url: '@(Url.Action("Remove","Staff"))?id='+id+'&section='+@Model.Id,
				type: 'get',
			});

			$('#'+id).remove();
			$('#'+id+'_1').remove();
		}
	</script>
}
